<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12">==========Login Usuario==========</h2>
   </div>
   <input type="email" placeholder="Email" disabled="{{isLogged}}" value="{{email::input}}">
   <input type="password" placeholder="Password" disabled="{{isLogged}}" value="{{password::input}}">
   <button class="btn btn-success" disabled="{{isLogged}}" on-click="login">Login</button>
   <button hidden$="{{!isLogged}}" class="btn btn-success" disabled="{{!isLogged}}" on-click="logout">Cerrar Sesion</button>
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->
   <span hidden$="{{!isLogged}}">Logado</span>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3002/colapi/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }, msg:{
           type: String
         }, id:{
           type: String
         },fn:{
           type: String
         },ln:{
           type: String
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       console.log("this.email = " + this.email);
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
       console.log("valor de isLogged: " + this.isLogged);
     }
     logout(){
         this.isLogged = false;
         console.log("valor de islogged . " + this.islogged);
         this.fn = "";
         this.ln = "";
         this.id = "";
         this.email = "";
         this.password="";
         this.dispatchEvent(new CustomEvent('logout',{detail:{reslog:false,name:this.fn,ln:this.ln,idusu:this.id,email:this.email}}))
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response.msg);
       var resx = data.detail.response.msg;
       this.fn = data.detail.response.fn;
       this.ln = data.detail.response.ln;
       this.id = data.detail.response.id;
       //console.log("valor de rex = " + resx);
       if(resx == "Usuario loggado ok -2"){

         this.isLogged = true;
      }
      console.log("valor de isLogged222: " + this.isLogged);
      if(this.isLogged){
        console.log("entra al true");
        this.dispatchEvent(new CustomEvent('loginok',{detail:{reslog:true,name:this.fn,ln:this.ln,idusu:this.id,email:this.email}}))
      }else{
        console.log("entra al false");
        this.dispatchEvent(new CustomEvent('loginok',{detail:{reslog:false,name:this.fn,ln:this.ln,idusu:this.id,email:this.email}}))
      }
     // redirigir
     //window.location = "/user/" + data.detail.response.idUsuario;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
