<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row"  hidden$="{{!logged}}">
         <h2 class="col-md-5">Bienvenido {{first_name}} {{last_name}}</h2>
       </div>
       <button class="btn btn-primary" hidden$="{{OkNo}}" on-click="cuentas">Cuentas</button>
       <button class="btn btn-success" hidden$="{{OkNo}}" on-click="movi">Movimientos</button>
       <button class="btn btn-warning"" hidden$="{{OkNo}}" on-click="cambioP">Cambio Password</button>
  </template>
  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          logged:{
            type:Boolean,
            value:false
          }, OkNo:{
            type:Boolean,
            value:true
          }, iban:{
            type:String
          }
        };
      }
      cambioP(){
        console.log("inicia pulsa cambio pass");
        this.dispatchEvent(new CustomEvent('cambio',{detail:{evento:"cambio",id:this.id}}))
        //alert("prueba")
      }

      mostrarDatosRecibidos(data){
        console.log("RECEPTOR: " + JSON.stringify(data));
        this.first_name=data.name
        this.last_name=data.ln
        this.id=data.idusu
        this.logged=data.reslog
        this.email=data.email
        this.OkNo=false
        this.id = data.idusu
      }
      mostrarDatosRecibidos2(data){
        console.log("RECEPTOR: " + JSON.stringify(data));
        console.log("procesa logout en visor usuario");
        this.first_name=""
        this.last_name=""
        this.id=""
        this.logged=""
        this.email=""
        this.OkNo = true;
      }
      cuentas(){
        console.log("envia evento visuor usu - cuenta");
        console.log("valor de id " + this.id);
        this.dispatchEvent(new CustomEvent('cuentas',{detail:{evento:"cuentas",id:this.id}}))
      }
      recibeIban(data){
        this.iban = data.iban;
      }
      movi(){
        console.log("envia evento visuor usu - movimientos");
         this.dispatchEvent(new CustomEvent('movi',{detail:{evento:"movimientos",ibanRec:this.iban}}))

      }

    }
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
