<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <!--<h1 class="col-md-12">Visor Cuenta</h1>-->
       </div>
       <iron-ajax
         url="http://localhost:3002/colapi/v3/users/{{id}}/account"
         id="getaccount"
         handle-as="json"
         on-response="showData1"></iron-ajax>
         <table class="table table-hover" hidden$="{{OkNo}}">
           <thead>
             <tr>
               <td scope="col">IBAN</td></tbody>
               <td scope="col">Balance</td>
             </tr>
           </thead>
           <tbody>
           <template is="dom-repeat" id="accountsUser" items="{{accounts}}">
             <tr>
               <th scope="row">{{item.iban}}</th>
               <td>{{item.balance}}</td>
               <td><input type="radio" name="optradio"  on-click="prueba"></a></td>
             </tr>
           </template>
          </tbody>
         </table>
       </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }, id:{
            type:Number
          },OkNo:{
            type:Boolean,
            value:true

          }
        };
      }
      prueba(e){
        console.log("presiono " + e.model.item.iban)
        this.dispatchEvent(new CustomEvent('selec',{detail:{iban:e.model.item.iban}}))
//        obj.style.background = (obj.style.background=='') ? 'red' : '';

      }
      consulta(data){
        console.log("se va a procesar la consulta de cuentas...");
        console.log("valor de id " + data.id);
        this.id=data.id;
        // hacemos petición con los datos del formulario del iron-ajax
        this.$.getaccount.generateRequest();
      }
      logout(){
        this.OkNo=true;
      }
      showData1(data1){
       //console.log(data);
       console.log("Recibidos datos--- de CUENTAS>>:");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
       console.log(data1.detail.response);
       this.OkNo=false;
       this.accounts = data1.detail.response;
     }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
