<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>EMISOR</h1>
    <button on-click="hacerLogin">pulsame</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoEmisor extends Polymer.Element {
      static get is() { return 'demo-emisor'; }
      static get properties() {
        return {

        };
      }
      hacerLogin(e){
        console.log("EMISOR: He pulsado el boton");
        this.dispatchEvent(new CustomEvent('loginok',{detail:{usuario:"fulanox",origen:"Techu",pais:"Colombia"}}))
      }
    }

    window.customElements.define(DemoEmisor.is, DemoEmisor);
  </script>
</dom-module>
