<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuenta/visor-cuenta.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/logout-usuario/logout-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-movi/visor-movi.html">
<link rel="import" href="/src/cambio-pass/cambio-pass.html">
<dom-module id="component-inicio">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <h2>Inicio - Tech-U API</h2>
    <login-usuario id="logini"></login-usuario>
    <logout-usuario id="logoutx"></logout-usuario>
    <visor-usuario id="usulog"></visor-usuario>
    <visor-cuenta id="cuentas"></visor-cuenta>
    <visor-movi id="movis"></visor-movi>
    <cambio-pass id="cambio"></cambio-pass>

  </template>

  <script>
    class ComponentInicio extends Polymer.Element {
      static get is() { return 'component-inicio'; }
      ready(){
        super.ready()
        this.$.logini.addEventListener('loginok',e => {this.procesarLogin(e)})
        this.$.logini.addEventListener('loginok',e => {this.procesarLogin2(e)})
        this.$.logoutx.addEventListener('logout',e => {this.procesarLogout(e)})
        this.$.logoutx.addEventListener('logout',e => {this.procesarLogout2(e)})
        this.$.usulog.addEventListener('cuentas',e => {this.procesarCuentas(e)})
        this.$.usulog.addEventListener('movi',e => {this.procesarMovi(e)})
        this.$.cuentas.addEventListener('selec',e => {this.consultaMovCuenta(e)})
        this.$.usulog.addEventListener('cambio',e => {this.cambioP(e)})

      }
      static get properties() {
        return {
          logged:{
            type:Boolean,
            value:false
          }, iban:{
            type:String
          }
        };
      }
      cambioP(e){
        console.log("Inicia proceso cambio pass");
        this.$.cambio.cambioPassInicio(e.detail)
      }
      procesarLogin(e){
        console.log("Procesar LOGIN111");
        this.$.usulog.mostrarDatosRecibidos(e.detail)
      }
      procesarLogin2(e){
        console.log("Procesar LOGINt222");
        this.$.logoutx.activaButton(e.detail)
      }
      procesarLogout(e){
        console.log("Procesar Logout111");
        this.$.usulog.mostrarDatosRecibidos2(e.detail)
      }
      procesarLogout2(e){
        console.log("Procesar Logout222");
        this.$.logini.logout(e.detail)
        this.$.movis.limpiar(e.detail)
        this.$.cuentas.logout(e.detail)
      }
      procesarCuentas(e){
        console.log("Procesar cuentas ***");
        this.$.cuentas.consulta(e.detail)
      }
      procesarMovi(e){
        console.log("ProcesarMovi***");
        console.log("vr de iban e ninicio . " + this.iban);
        if(this.iban==undefined){
          alert("Elija una cuenta")
        }else{
        this.$.movis.consulta(e.detail, this.iban)
      }
      }
      consultaMovCuenta(e){
        console.log("Consulta mov cuenta ***");
        console.log("vr de iban en movi: " + e.detail.iban);
        this.iban =e.detail.iban;
      }
    }

    window.customElements.define(ComponentInicio.is, ComponentInicio);
  </script>
</dom-module>
