<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="cambio-pass">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div  hidden="{{noMostrar}}" class="span4">
     <h2 class="col-md-12">==========Cambio de Password==========</h2>
     <input type="password" placeholder="Password" value="{{passw::input}}">
     <input type="password" placeholder="Confirm Password" value="{{passw2::input}}">
     <button  class="btn btn-success" on-click="guardar">Guardar</button>
     <button class="btn btn-success" on-click="cerrar">Cancelar</button>
    <!--<h1 hidden="{{noMostrar2}}">Cambio exitoso</h1>-->
  </div>

   <iron-ajax
     id="doCambio"
     url="http://localhost:3002/colapi/v3/users/{{id}}"
     content-type="application/json"
     method="PUT"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   class cambioPass extends Polymer.Element {
     static get is() { return 'cambio-pass'; }
     static get properties() {
       return {
         passw: {
           type: String
         },passw2: {
           type: String
         }, id:{
           type:Number
         },noMostrar:{
           type:Boolean,
           value:true
         },noMostrar:{
           type:Boolean,
           value:true
         }
       };
     }
     cambioPassInicio(data){
       this.noMostrar = false;
       console.log("valor de id cambio " + data.id);
       this.passw="";
       this.passw2="";
       this.id=data.id;
     }
     guardar(){
       console.log("inicia guardado de pass");
       var cambioPwd= {
         "password" : this.passw2
       };

       if((this.passw!=this.passw2)||(this.passw=="")||(this.passw2=="")){
         alert('Valores no validos')
         this.passw="";
         this.passw2="";
       }else{
       this.$.doCambio.body = JSON.stringify(cambioPwd);
       this.$.doCambio.generateRequest();
       // hacemos petición con los datos del formulario del iron-ajax
       console.log("Petición enviada cambiop");
      }
     }
     cerrar(){
       console.log("inicia cerrado Cambio Pass");
       this.passw="";
       this.passw2="";
       this.noMostrar = true;
     }
     manageAJAXResponse(data) {
       console.log("inicia ajax resonse");
       console.log(data.detail.response.n);
       if(data.detail.response.n == 1){
         console.log("cambio exitoso");
         alert("cambio exitoso")
       }else{
         alert("cambio con error ")
       }
     }
   showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(cambioPass.is, cambioPass);
 </script>
</dom-module>
