<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
         <h1 class="col-md-12">Pagina no encontrada</h1>

         <!--<button class="btn btn-warning">
           <a href="http://localhost:3002/colapi/v3/users/{{id}}/account">Ver mis cuentas</a>
         </button>-->
       </div>
       <!--<button class="btn btn-success">Login</button>
       <button class="btn btn-warning">Logout</button>
       <button class="btn btn-info">Info</button>
       <button class="btn btn-danger">Danger</button>
       <iron-ajax
         id="getuser"
         url="http://localhost:3002/colapi/v3/users/{{id}}"
         handle-as="json"
         on-response="showData"></iron-ajax>-->
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {

        };
      }

    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
